<!DOCTYPE html>
<html>
    <head>
        <title>home</title>
        <style>
            .menu{
                position: fixed;
                top: 0;
                padding: 20px;
                background-color: blue;
                width: 100%;
                margin-left: -10px;
                text-align: center;
            }
            a{
                text-decoration: none !important;
                color: #fff !important;
            }
            body{
                margin-top: 20px;
            }
            img{
                height: 120%;
            }
        </style>
    </head>
    <body>
        <div class="menu">
            <%= link_to 'Home', root_path %>
            <%= link_to 'About', about_path %>
        </div>
        <div>
            <img src="https://storage.googleapis.com/madebygoog/v1/phone/phone_hero-module_hero-image_en_AU_1440_2x.png"></img>
        </div>

    </body>
</html>