$navbar-default-bg: #e6ccff;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
    float: left;
    font-size: 20px;
    color: #330066;
    text-transform: uppercase;
    font-weight: bold;
}
#logo:hover{
    color: #b366ff;
}
.center{
    text-align: center;
}
.jumbotron{
    background-image: asset-url('sunset-dark-clouds-1.jpg');
    background-size: cover;
    background-position: top;
}
.jumbotron h1{
    color: #fff;
    font-family: montserrat;
    text-transform: uppercase;
    padding: 20px;
}
.btn-xlarge{
    background-color: #ff3333;
    text-transform: uppercase;
}
.article-actions{
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}
.description{
    margin-top: 0;
}
.article-title{
    font-weight: bold;
    font-size: 1.5em;
}
.article-body{
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer{
    background-color: #f7f7f7;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    border-top: 1px solid #eaeaea;
}
footer nav{
    float: right;
    font-size: 10px;
    padding: 10px;
}